<div id="menu">
    <ul>
        <li><a href="http://www.screenzone.fr/forum/" target="_blank"><i class="fa fa-long-arrow-left fa-lg"></i><br><span>SCREENZONE</span></a></li>
    {% if add_rules_link %}
        <li><a href="{{ url('home') }}"><i class="fa fa-gavel fa-lg"></i><br><span>RÈGLES</span></a></li>
    {% endif %}
        <li>
            <a href="#" target="_blank"><i class="fa fa-share-alt fa-lg"></i><br/><span>R.SOCIAUX</span></a>
            <ul>
                <li><a href="https://www.facebook.com/pages/Screenzone/1626168037667549" target="_blank"><i class="fa fa-facebook fa-lg">&nbsp;</i>FACEBOOK</a></li>
                <li><a href="https://twitter.com/ScreenzoneGame" target="_blank"><i class="fa fa-twitter fa-lg">&nbsp;</i>TWITTER</a></li>
                <li><a href="https://www.youtube.com/channel/UCijNoHyYaYIiyWt39ymc5bg" target="_blank"><i class="fa fa-youtube-play fa-lg">&nbsp;</i>YOUTUBE</a></li>
                <li><a href="https://soundcloud.com/screenzone" target="_blank"><i class="fa fa-soundcloud fa-lg">&nbsp;</i>SOUNDCLOUD</a></li>
                <li><a href="http://kam3leon.deviantart.com/" target="_blank"><i class="fa fa-deviantart fa-lg">&nbsp;</i>DEVIANT ART</a></li>
                <li><a href="https://www.pinterest.com/screenzone/" target="_blank"><i class="fa fa-pinterest fa-lg">&nbsp;</i>PINTEREST</a></li>
                <li><a href="https://github.com/ScreenZoneProjects" target="_blank"><i class="fa fa-github-alt fa-lg">&nbsp;</i>GITHUB</a></li>
                <li><a href="https://www.flickr.com/photos/137504686@N08/" target="_blank"><i class="fa fa-flickr fa-lg">&nbsp;</i>FLICKR</a></li>
            </ul>
        </li>
        <li class="paypal" style="float:right;"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JH2VFPEE3BEFS" target="_blank"><i class="fa fa-money fa-lg"></i><br><span>SOUTENEZ-NOUS</span></a></li>
    <ul>
</div>
