<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule mod_setenvif.c>
    SetEnvIf Host ^local\.djlechuck\.fr$ APP_ENV=dev
    SetEnvIf Host ^www\.screenzone\.fr$ APP_ENV=prod
</IfModule>
